body {
    background-color: #121212;
    color: white;
    font-family: 'Acme', sans-serif;
    margin: 0;
    padding: 0;
}

.botones-genre {
    width: 35%;
    ;
    flex-wrap: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
}

.botones-genre button {
    padding: 15px;
    background-color: #ABA2CE;
    color: white;
    font-family: 'Acme', sans-serif;
    flex-direction: column;
    align-items: center;
    margin: 17px;
}

button.selected {
    background-color: #524771;
    /* Cambia el color al seleccionar */
    color: white;
}

.container-primero {
    background-image: url("/static/images/fondoUser.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Impact', sans-serif;
    font-weight: bold;
    text-align: left;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
}

.form-container {
    background-color: rgba(87, 83, 83, 0.327);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    font-size: 14px;
    padding: 10px;
    width: 200px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.botones-genre {
    text-align: center;
    margin: 20px auto;
    /* Centro horizontal */
}

.botones-genre h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.botones-genre button {
    background-color: #524771;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    transition: background-color 0.3s;
}

.botones-genre button:hover {
    background-color: #675a92;
}

.botones-genre button.selected {
    background-color: #6c63ff;
}

.container-final {
    text-align: center;
    margin: 20px auto;
    /* Centro horizontal */
    width: 50%;
    /* Ancho fijo del contenedor final */
    font-family: 'Acme', sans-serif;
}

.container-final h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

.container-final button {
    background-color: #524771;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    transition: background-color 0.3s;
}

.container-final button:hover {
    background-color: #675a92;
}

.container-final button.selected {
    background-color: #6c63ff;
}