* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("/static/images/fondoUser.png");
    position: relative;background-size: cover;
    height: 100vh;
}
.container-primero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    color: white;
    font-size: 50px;
    font-family: 'Impact', sans-serif;
    margin-top: 25px;margin-left: 25px;
}

.form-container {
    background-color: rgba(87, 83, 83, 0.327);
    padding: 20px;
    border-radius: 10px;

    margin-top: 80px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}


button.selected {
    background-color: #524771;
    color: white;
}

.container-primero {
    background-image: url("/static/images/fondoUser.png");
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Impact', sans-serif;
    text-align: left;
    font-weight: 500 !important;
    top: 20px;
    left: 20px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: -110px;
    z-index: 10;
    background-color: transparent;
    position: relative;
}

.form-container {
    background-color: rgba(87, 83, 83, 0.327);
    padding: 20px 60px;
    border-radius: 10px;
    margin-left: 60px;
    max-width: 50%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    font-size: 14px;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
}

.botones-genre {
    text-align: center;
    margin: 20px auto;

}

.botones-genre h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.botones-genre button {
    background-color: #524771;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    transition: background-color 0.3s;
}

.botones-genre button:hover {
    background-color: #675a92;
}

.botones-genre button.selected {
    background-color: #6c63ff;
}

.container-final {
    text-align: center;
    margin: 20px auto;
    width: 50%;
    font-family: 'Acme', sans-serif;
}

.container-final h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

.seleccion-preferencias {
    max-width: 50%;
    margin-right: 12rem;
}

.container-final button {
    background-color: #524771;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    transition: background-color 0.3s;
}

.container-final button:hover {
    background-color: #675a92;
}

.container-final button.selected {
    background-color: #6c63ff;
} 